<%= form_for [:admin, @amenity] do |f| %>
  <% if @amenity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@amenity.errors.count, "error") %> prohibited this type from being saved:</h2>

      <ul>
      <% @amenity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
