<h2>Sign up</h2>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
	<%= f.label :username %>
  <%= f.text_field :username, :autofocus => true %><br />
  <%= f.label :email %>
  <%= f.text_field :email, :required => true %><br />
  <%= f.label :password %>
  <%= f.text_field :password, :required => true %><br />
  <%= f.label :password_confirmation %>
  <%= f.text_field :password_confirmation, :required => true %><br />
  <%= f.submit 'Sign up', :class => 'btn-primary' %>
<% end %>
<%= render "devise/shared/links" %>