<h1>Gallery Photos:	<%= @gallery.name %></h1>
<br />

<p>This is the Photos (Index Action) page. To view/edit a photo, hover over and click on the thumbnail.<p>

<br />
<%= link_to 'Back', gallery_path(@gallery) %> |
<%= link_to 'Upload Photos', new_gallery_photo_path(@gallery) %> |

<br />
<div id="gallery">
  <ul id="grid">
    <% @images.each do |pic| %>
     <li><%= link_to image_tag(pic.photo_file.url(:thumb).to_s), gallery_photo_path(@gallery,pic) %>	
				<%= link_to 'Remove', gallery_photo_path(@gallery, pic.id), :confirm => "Delete this photo?", :method => 'delete' %>
			</li>
    <% end %>
  </ul>
</div>

    